</head>

<body>
<h2> Questions about express </h2>
<% questions.forEach((question) => { %>
    <h3> <%= question['title'] %> </h3>
    <p> <%= question['user'] %></p>
    <p> <%= question['votes'] %></p>
<% }); %>


</body>
</html